{% extends 'layouts/base.html' %}
{% block title %}Ekart | Register{% endblock title %}
{% block content %}
<div class="container mb-5" style="margin-top: 70px;">
        <div class="col-sm-6 offset-sm-3 card">
            <div class="bg-primary p-3 rounded mb-2">
                <a href="{% url 'Login' %}" class="text-decoration-none text-white"><i
                        class="fa-solid fa-arrow-left fa-lg pe-2"></i>Reset Password</a>
                {% include 'inc/message.html' %}
            </div>
           <div class="p-2">
            <form action="" method="post">
                {% csrf_token %}
                {% for fm in form %}
                {{fm.label_tag}} {{fm}} <small class="text-danger">{{form.errors|striptags}}</small><br>
                {% endfor %}
                <div>
                    <button type="submit" class="btn btn-primary mt-4">Next</button>
                </div>
                {% if forms.non_field_errors %}
                {% for error in forms.non_field_errors %}
                <p class="alert alert-danger my-3">{{error}}</p>
                {% endfor %}
                {% endif %}

            </form>
           </div>
        </div>
</div>
{% endblock content %}