{% extends 'layouts/base.html' %}
{% block title %}Ekart | Online Shopping{% endblock title %}
{% block content %}
{% load static %}
<div class="container d-none d-lg-block" style="margin-top: 70px;">
    <div class="col-sm-6 offset-sm-3 rounded bg-white p-4">
        <div class="d-flex align-items-center">
            <img src="{% static 'images/success_info.gif' %}" height="40" width="40" alt="change password success">
            <span class="fw-bold h4 text-success ms-1 mb-0">Password Changed Successfully</span>
        </div>
        <p class="text-center"><a href="{% url 'Home' %}" class="text-decoration-none">Go to Home</a></p>
    </div>
</div>
<div class="container d-sm-none" style="margin-top: 100px;">
    <div class="rounded bg-white">
        <div class="d-flex align-items-center">
            <img src="{% static 'images/success_info.gif' %}" height="40" width="40" alt="change password success">
            <span class="fw-bold h4 text-success ms-1 mb-0">Password Changed Successfully</span>
        </div>
        <p class="text-center"><a href="{% url 'Home' %}" class="text-decoration-none">Go to Home</a></p>

    </div>
</div>
{% endblock content %}