{% extends 'layouts/base.html' %}
{% block title %}Ekart | Register{% endblock title %}
{% block content %}
{% load static %}
<div class="container mb-5" style="margin-top: 70px;">
    <div class="col-sm-9 offset-sm-2 p-2 bg-white">
        <img src="{% static 'images/success_info.gif'%}" height="40" width="40" class="img-fluid" alt="password reset">
        <span>An Email has been sent with instructions to reset your password <b>Please check Email</b></span>
        <p class="text-center"><a href="/" class="text-decoration-none">Go to Home</a></p>
    </div>
</div>
{% endblock content %}