{% extends 'layouts/base.html' %}
{% block title %}Ekart | Online Shopping{% endblock title %}
{% block content %}
{% load static %}
<div class="container" style="margin-top: 70px;">
    <div class="row my-3">
        <!-- <h3>Hello {{ request.username | capfirst }}</h3> -->
        <div class="col-sm-6 offset-sm-3 rounded bg-white p-4">
            <img src="{% static 'images/success_info.gif' %}" height="40" width="40" alt="reset password success">
            <span class="fw-bold h4 text-success">Reset Your Password Successfully</span>
            <p class="text-center"><a href="{% url 'Login' %}" class="text-decoration-none">Go to Login</a></p>

        </div>
    </div>
</div>
{% endblock content %}